img {
  display: block;
}

#image {
  max-width: 100%;
  
}  
#main {
  max-width: 800px;
  margin: auto;
  background: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#title {
  text-align: center;
  font-size: 2em;
 }
#img-caption {
  margin-top: 10px;
  font-style: italic;
  color: #555;
  text-align:center;
 }
 p {
   text-align:center;
 }
 .tribute {
   text-align:center;
 }
